<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <style>
        .form-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .form-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 300px;
        }

        .form-box input {
            width: 100%;
            margin-bottom: 10px;
            padding: 10px;
            box-sizing: border-box;
        }
    </style>
</head>
<body>
<div class="form-container">
    <div class="form-box">
        <h2>로그인</h2>
        <form th:action="@{/login}" th:object="${loginForm}" method="post">

            <div th:if="${#fields.hasGlobalErrors()}">
                <p class="field-error" th:each="err : ${#fields.globalErrors()}"
                   th:text="${err}">전체 오류 메시지</p>
            </div>

            <div>
                <label for="loginId">로그인 ID</label>
                <input type="text", id="loginId" th:field="*{loginId}" placeholder="Login ID" required,
                       th:errorclass="field-error"/>
            </div>

            <div>
                <label for="password">비밀번호</label>
                <input type="text", id="password" th:field="*{password}" placeholder="Password" required,
                       th:errorclass="field-error"/>
            </div>

            <button type="submit">로그인</button>

            <a th:href="@{/register}" class="register-button">회원가입</a>
        </form>
    </div>
</div>
</body>
</html>
